[submodule "oh-my-zsh"]
	path = dependencies/oh-my-zsh
	url = ./oh-my-zsh
[submodule "powerline-fonts"]
	path = dependencies/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "solarized"]
	path = dependencies/solarized
	url = https://github.com/altercation/solarized.git
[submodule "oh-my-zsh-custom/plugins/zsh-256color"]
	path = oh-my-zsh-custom/plugins/zsh-256color
	url = https://github.com/chrissicool/zsh-256color
[submodule "oh-my-zsh-custom/plugins/zsh-autoswitch-virtualenv"]
	path = oh-my-zsh-custom/plugins/autoswitch_virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
