---



- name: Build rsync options
  set_fact:
    zsh_rsync_opts: >-
      {{
        ['--archive', '--delete']
        + ((not (zsh_copy_private | default(false) | bool))
          | ternary(['--exclude=private/'], []))
      }}

- name: "Synchronize local ~/.zsh/ into {{ inventory_hostname }}:~/.zsh/"
  synchronize:
    src: "{{ lookup('env','HOME') }}/.zsh/"
    dest: "{{ zsh_dir }}/"
    rsync_opts: "{{ zsh_rsync_opts }}"
  delegate_to: localhost
  #when: ansible_connection != "local"
