---
- name: "Set font_dir for macOS"
  set_fact:
    font_dir: "{{ home }}/Library/Fonts"
  when: ansible_system == "Darwin"

- name: "Set font_dir for Linux"
  set_fact:
    font_dir: "{{ home }}/.local/share/fonts"
  when: ansible_system == "Linux"

- name: Stat font directory
  stat:
    path: "{{ font_dir }}"
  register: fontdir_stat

- name: Find existing Powerline fonts
  find:
    paths: "{{ font_dir }}"
    patterns: "*Powerline*"
    recurse: no
  register: powerline_fonts
  when: fontdir_stat.stat.exists and fontdir_stat.stat.isdir

# Run powerline-fonts installer if either:
#      a) font_dir doesn’t exist, or
#      b) font_dir exists but no “Powerline” files were found
- name: Run powerline-fonts install script
  become: false
  shell: "./install.sh"
  args:
    chdir: "{{ zsh_dir }}/dependencies/powerline-fonts"
  when: >
    (not (fontdir_stat.stat.exists and fontdir_stat.stat.isdir))
    or
    (fontdir_stat.stat.exists and fontdir_stat.stat.isdir and powerline_fonts.matched == 0)

- name: Install pyenv build dependencies (Debian)
  become: true
  apt:
    name:
      - build-essential
      - curl
      - git
      - libbz2-dev
      - libffi-dev
      - liblzma-dev
      - libncursesw5-dev
      - libreadline-dev
      - libsqlite3-dev
      - libssl-dev
      - libxml2-dev
      - libxmlsec1-dev
      - tk-dev
      - xz-utils
      - zlib1g-dev
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Install pyenv (Debian)
  become: false
  git:
    repo: https://github.com/pyenv/pyenv.git
    dest: "{{ home }}/.pyenv"
    version: master
    update: true
  when: ansible_os_family == "Debian"
