#!/bin/zsh

# ZSH configuration
# Jan Tulak <jan@tulak.me>

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
  alias mvim="gvim"

  # hack for screen when sudo su-ing
  function screen() {
    /usr/bin/script -q -c "/usr/bin/screen ${*}" /dev/null
  }

elif [[ "$OSTYPE" == "darwin"* ]]; then
  alias gvim="mvim"
fi

alias ll="ls -lah"
alias rm="rm -i"
alias cp="cp -i"
alias l="ls -ail"
alias cl="clear"
alias ga="git add"
alias gu="git add -u"
#alias gc="git commit --signoff"
alias gc="git commit"
alias gch="git checkout"
alias gf="git fetch"
alias gs="git status"
alias gp="git push"
alias gr="git rebase"
alias reboot="shutdown -r now"
#alias ssh-agent-autoload='eval "$(ssh-agent -s)" && ssh-add'
alias vim="vim -p" # open with tabs
alias cvs="cvs -z3"
alias ta="tmux new-session -A -s" # Attach to a tmux session. If it doesn't exist, create a new one.
alias lsdir="du -h --max-depth=1 $1 | sort -h"

# get back the bash-style 'help <command>'
unalias run-help
autoload run-help
alias help=run-help