#!/bin/zsh

# ZSH configuration
# Jan Tulak <jan@tulak.me>

# share macOS clipboard with tmux and use default system shell in tmux
#set-option -g default-command "reattach-to-user-namespace -l ${SHELL}"

setopt notify

# append to the history file, don't overwrite it
setopt APPEND_HISTORY

# Enable substitution in the prompt.
setopt prompt_subst
