---
# Use --legacy in install_ansible.sh for OL7, otherwise modern Ansible is used.
- hosts: all
  gather_facts: true

  vars:
    home: "{{ ansible_env.HOME }}"
    zsh_dir: "{{ home }}/.zsh"
    zsh_bin: "/bin/zsh"
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: “Ensure prerequisites”
      import_tasks: shared/00_ensure_prerequisities.yaml

    - name: “Copy ZSH”
      import_tasks: shared/01_copy_zshrc.yaml

    - name: “Install ZSH”
      import_tasks: shared/10_install_zsh.yaml

    - name: “Install  deps”
      import_tasks: shared/11_install_bundled_deps.yaml

    - name: “setup dotfiles”
      import_tasks: shared/20_setup_dotfiles.yaml

    - name: “Default shell”
      import_tasks: shared/30_default_shell.yaml
