---
# Use --legacy in install_ansible.sh for OL7, otherwise modern Ansible is used.
- hosts: all
  gather_facts: true

  vars:
    home: "{{ ansible_env.HOME }}"
    zsh_dir: "{{ home }}/.zsh"
    zsh_bin: "/bin/zsh"
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: "Setup common parts"
      import_tasks: shared/without_default_shell.yaml

    - name: "Default shell"
      import_tasks: shared/30_default_shell.yaml
